@charset "utf-8"
@import "../node_modules/bulma/bulma.sass"

.container
    max-width: 1366px

    p 
        font-size: 1rem
        color: #707070

    h1
    // 使い方  : ページのタイトルになる要素（Cast, Prefomanceなど）に使用する
        font-size: 1.5rem
        color: $primary

    h2
    // 使い方 : Cast内だと人名など
        font-size: 1.25rem（bold）
        color: $text

    // 補助テキスト
    // 使い方 : 記事一覧のタグ名、カテゴリ名など
        font-size: 0.75rem
        color: $text

    a
        font-size: 1.25rem
        color: $text
    // 文字装飾 : デフォルトのまま

    // 変数周り
    $primary: #DC4B42
    $info: #14BCCC
    $text: #707070

header
    position: fixed
    top: 0
    left: 0
    width: 100%
    text-align: center
    background-image: url(../image/header.png)
    display: flex
    justify-content: flex-end


    .menu
        display: flex
        align-items: center

        li
            width: 150px
            height: 50px
            list-style: none
            background-color: #FFFFFF
            border-radius: 11px
            display: flex
            align-items: center
            margin: 20px

            a
                text-decoration: none
                color: #707070
                margin: 0 auto
.block
    max-width: 100%
    height: 510px
    margin: 0 auto
    border: solid black

.columns
    align-items: center
.box
    max-width: (100% / 4) * 1
    height: 190px
    border: solid black

footer
    width: 100%
    height: 50px
    margin: 0
    background-color: #743F00
    display: flex
    justify-content: space-around

    .menu
        display: flex
        justify-content: center

        li
            width: 150px
            text-align: center
            list-style: none

            a
                text-decoration: none
                color: #FFFFFF
