header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-image: url(../image/header.png);
  display: flex;
  justify-content: flex-end;
}

header .menu {
  display: flex;
  align-items: center;
}

header .menu li {
  width: 150px;
  height: 50px;
  list-style: none;
  background-color: #FFFFFF;
  border-radius: 11px;
  display: flex;
  align-items: center;
  margin: 20px;
}

header .menu li a {
  color: #707070;
  margin: 0 auto;
  text-decoration: none;
}
